<% provide(:title, "Log in") %>
<img class="hero-image" src="https://source.unsplash.com/collection/8994720/750x512" alt="">
<div class="login-form content-container">
  <h1 class="login-form__header">Sign in</h1>
  <%= render 'shared/login_form' %>
</div>
