<% provide(:title, "Create new user account") %>
<% provide(:button_text, "Create my account") %>

<div class="login-container">
  <img class="hero-image--login image--mobile-only" src="https://source.unsplash.com/collection/8994720/750x512" alt="">
  <img class="hero-image--login image--not-mobile" src="https://source.unsplash.com/collection/8994720/640x1080" alt="">
  <div class="form--user">
    <div class="form-container--large">
      <h1 class="page-title">Create account</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
