<p id="notice"><%= notice %></p>

<p>
  <strong>Event type description:</strong>
  <%= @event_type.event_type_description %>
</p>

<%= link_to 'Edit', edit_event_type_path(@event_type) %> |
<%= link_to 'Back', event_types_path %>
