/* colors */
$indigo-2: #f8fafc;
$indigo-50: #E0E8F9;
$indigo-100: #BED0F7;
$indigo-200: #98AEEB;
$indigo-300: #7B93DB;
$indigo-400: #647ACB;
$indigo-500: #4C63B6;
$indigo-600: #4055A8;
$indigo-700: #35469C;
$indigo-800: #2D3A8C;
$indigo-900: #19216C;

$blue-grey-50: #f0f4f8;
$blue-grey-100: #d9e2ec;
$blue-grey-200: #bcccdc;
$blue-grey-300: #9fb3c8;
$blue-grey-400: #829ab1;
$blue-grey-500: #627d98;
$blue-grey-600: #486581;
$blue-grey-700: #334e68;
$blue-grey-800: #243b53;
$blue-grey-900: #102a43;

$gradient-purple: #240754;
$gradient-blue: #7b93db;

/* fonts */
$proxima-nova: proxima-nova,
sans-serif;