@import 'reset';
@import 'config';

body {
  background-color: $indigo-2;
  color: $indigo-900;
  font-family: $proxima-nova;
}

p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {

  &.field,
  &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.header {
  background-color: white;
  border-image: linear-gradient(135deg, #240754, #7b93db);
  border-style: solid;
  border-width: 4px 1920px 0px 0px;
  display: grid;
  grid-template-columns: 1080px;
  height: 85px;
  justify-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
}

.nav {
  justify-items: center;
  display: grid;
  display: grid;
}

.nav__container {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1080px;
}

.footer {
  border-top: 1px solid $blue-grey-50;
  bottom: 0px;
  display: grid;
  height: 64px;
  justify-items: center;
  margin-top: 64px;
  position: fixed;
  width: 100%;
}

.footer__container {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1080px;
}

.footer__text {
  color: $blue-grey-500;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer__text--left {
  justify-self: start;
}

.footer__text--right {
  justify-self: end;
}