@import "reset";
@import "config";

body {
  background-color: $indigo-2;
  color: $indigo-900;
  font-family: $proxima-nova;
}

/*
p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {

  &.field,
  &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
*/

/* app container */
.app-container {
  display: grid;
  grid-template-rows: 64px 1fr 48px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

/* header */
.header {
  background-color: white;
}

.header__gradient {
  background: linear-gradient(135deg, #240754, #7b93db);
  height: 4px;
}

.header__content {
  align-items: center;
  display: grid;
  grid-template-columns: 48px 1fr;
  height: 60px;
}

.header__menu {
  background-color: inherit;
  border: none;
  color: $indigo-900;
  cursor: pointer;
  display: grid;
  height: inherit;
  place-items: center center;
  width: 100%;
  z-index: 99;
}

.header__menu-icon {
  font-size: 18px;
}

.header__title {
  display: grid;
  height: inherit;
  margin-left: -48px;
  place-items: center center;
}

/* nav */

.nav {
  background-color: #bada55;
}

.nav-mobile {
  bottom: 0;
  height: calc(100vh - 64px);
  opacity: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  transform: translate3d(-100vw, 0, 0);
  transition: all 0.3s cubic-bezier(0.68, 0, 0.265, 1.30);
  width: 100vw;
  z-index: 999;
}

.nav-mobile--open {
  opacity: 1;
  transform: translate3d(0vw, 0, 0);
}

// .nav {
//   justify-items: center;
//   display: grid;
//   display: grid;
// }

// .nav__container {
//   align-items: center;
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   width: 1080px;
// }

/* footer */
.footer {
  border-top: 1px solid $blue-grey-50;
}

.footer__container {
  align-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  margin: auto;
  width: calc(100% - (16px * 2));
}

.footer__text {
  color: $blue-grey-500;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

// .footer__text--left {
//   justify-self: start;
// }

.footer__text--right {
  justify-self: end;
}

/* tablet styles */
@media screen and (min-width: 1023px) {
  .app-container {
    grid-template-rows: 64px 1fr 64px;
  }
}

/* desktop styles */
@media screen and (min-width: 1112px) {
  .footer__container {
    width: 1080px;
  }

  .footer__text {
    font-size: 12px;
  }
}

/* debug styles */
.debug {
  max-width: 100%;
}