@import 'config';

.events__title {
  color: $blue-grey-700;
  font-size: 24px;
  font-weight: 400;
}

.events__list {
  display: grid;
  grid-gap: 16px;
  margin-bottom: 32px;
}

@media screen and (min-width: $mq-desktop-small) {

  .events__list {
    grid-template-columns: repeat(auto-fit, 344px);
  }
}