@import 'config';

.image--mobile-only {
  object-fit: cover;
}

.image--not-mobile {
  display: none;
}

.hero-image--login {
  height: 256px;
  margin-bottom: 16px;
  width: 100vw;
}

.user-avatar {
  border-radius: 100%;
  box-shadow: inset 2px 4px 0 $blue-grey-100;
}

.user-avatar--32 {
  height: 32px;
  width: 32px;
}

.user-avatar--48 {
  height: 48px;
  width: 48px;
}

.user-avatar--128 {
  height: 128px;
  width: 128px;
}

@media screen and (min-width: $mq-desktop-small) {
  .image--mobile-only {
    display: none;
  }

  .image--not-mobile {
    display: block;
    object-fit: cover;
  }

  .hero-image--login {
    height: calc(100vh - 4px);
    margin-bottom: 0px;
    width: 450px;
  }
}

@media screen and (min-width: $mq-desktop-large) {
  .hero-image--login {
    width: 640px;
  }
}