@import 'config';

.divider-line {
  background-color: $indigo-50;
  height: 2px;
  margin-bottom: 24px;
  width: 200px;
}

.divider-line--dc {
  width: 100%;
}

@media screen and (min-width: $mq-desktop-small) {
  .divider-line {
    margin-bottom: 32px;
  }

  .left {
    padding-right: 8px;
  }

  .right {
    padding-left: 8px;
  }
}