@import "config";

.login-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media screen and (min-width: $mq-desktop-small) {
  .login-container {
    flex-direction: row;
  }
}