@import 'config', 'lists';

.night-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 32px;
}

.night-list__item {
  font-size: 20px;
  font-weight: 700;
}

.night-list__link {
  color: $blue-grey-500;
}

.night-list__link--active {
  color: $blue-grey-900;

  &::after {
    background: linear-gradient(135deg, #240754, #7b93db);
    content: '';
    display: block;
    height: 4px;
    width: 100%;
  }
}