<div class="footer__container content-container">
  <span class="footer__text footer__text--left">Made with <i class="fas fa-heart"></i> in Austin, TX.</span>
  <span class="footer__text footer__text--right">Soli deo gloria.</span>
</div>
